<%-include("../layouts/header")%>
<body>
    <link rel="stylesheet" href="/public/styles/user/signup.css">
    <div class="container">
        <h1>Create Account</h1>
        <form action="/signup" method="post" id="form">
            <div class="form-group">
                <input type="text" placeholder="Name" name="name" required/>
            </div>
            <div class="form-group">
                <input type="email" placeholder="Email" id="email" name="email" required />
            </div>
            <p class="text-danger" id="emailErr"></p>
            <div class="form-group">
                <input type="number" placeholder="Phone Number" id="phone" name="phone" required />
            </div>
            <p class="text-danger"  id="phoneErr"></p>
            <div class="form-group">
                <input type="password" placeholder="Password" id="password" name="password" required/>
            </div>
            <p class="text-danger"  id="passwordErr"></p>

            <button type="submit">Sign Up</button>
        </form>
        <div class="links">
            <a href="/login">already have an account? please login</a>
        </div>
    </div>

    <script>
        const form = document.getElementById("form")
        const emailErr = document.getElementById("emailErr")
        const phoneErr = document.getElementById("phoneErr")
        const passwordErr = document.getElementById("passwordErr")
        let err = false

        form.addEventListener('submit',(e)=>{
            const email = document.getElementById("email").value
            const phone = document.getElementById("phone").value
            const password = document.getElementById("password").value.trim()
            //email validation
            emailValidate(email)
            phoneValidate(phone)
            passwordValidate(password)
            if(err){
                e.preventDefault()
            }
            //phone validation
            
        })

       function emailValidate(email){
        let reg = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

        const result = reg.test(email)
        if(!result){
            emailErr.innerHTML = "check entered email is correct"
            err = true
        }
       }

       function phoneValidate(phone){
         if(phone.length<10){
            
            phoneErr.innerHTML = "check entered phone number is correct"
            err = true
         }
       }

       function passwordValidate(password){
         if(password.length<8){
            passwordErr.innerHTML = "check entered password is correct"
            err = true
         }
       }
        
    </script>

    <%-include("../layouts/footer")%>
